@import 'styles/variables';

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  flex-direction: column;

  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  width: 20vh;

}

