@import "variables";

.header {
  width: auto;
  max-width: 100vw;
}

.nextButton {
  position: fixed;
  right: 5vw;
  top: 50vh;
  transform: rotate(-90deg);
  z-index: 1;
}

.previousButton {
  position: fixed;
  left: 5vw;
  top: 50vh;
  transform: rotate(90deg);
  z-index: 1;
}

@media only screen and (max-width: $breakpoint-tablet) {
  .nextButton {
    transform: rotate(-90deg) scale(0.5);
    right: 0;
  }
  .previousButton {
    transform: rotate(90deg) scale(0.5);
    left: 0;
  }
}