@import "variables";

.header {
  width: auto;
  max-width: 100vw;
}

.nextButton {
  position: fixed;
  right: 5vw;
  top: 50vh;
  transform: rotate(-90deg);
  z-index: 1;
}

@media only screen and (max-width: $breakpoint-tablet) {
  .nextButton {
    top: 90vh;
    right: 10vh;
    transform: scale(0.7);
  }
}