// This file is used for color variables and scss mixins

// main colour scheme
$dark: #1D1D1B;
$white: #fff;
$pink: #FB7099;
$bright-pink: #FF62BF;
$creme: #FCD9D7;
$red: #801F20;
$yellow: #FEF7B6;


$background: "/img/background_no_borders.png";

$breakpoint-tablet: 860px;
$breakpoint-phone: 425px;